Source: libr4d
Priority: optional
Maintainer: Bastian Germann <bage@linutronix.de>
Build-Depends: debhelper-compat (= 12), git, gsoap, libgsoap-dev, uuid-dev, libglib2.0-dev
Standards-Version: 4.5.0
Section: libs
Rules-Requires-Root: no
Homepage: https://github.com/ci-rt/libr4d
Vcs-Git: https://github.com/ci-rt/libr4d.git
Vcs-Browser: https://github.com/ci-rt/libr4d

Package: libr4d-dev
Section: libdevel
Architecture: any
Depends: libr4d0 (= ${binary:Version}), ${misc:Depends}
Description: Linutronix Testrack Helper Library (development files)
 Remote For Device-under-test (R4D) Daemon acts as controlling server for test
 racks.
 Each rack must contain a serial device server and a power control switch.
 A rack can host several DUTs (device-under-test).
 R4D connects to the serial device server and the power switch to perform
 actions on user requests. A user connects to r4d through a SOAP interface.
 .
 This package contains the development files for the C-Bindings.

Package: libr4d0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Linutronix Testrack Helper Library
 Remote For Device-under-test (R4D) Daemon acts as controlling server for test
 racks.
 Each rack must contain a serial device server and a power control switch.
 A rack can host several DUTs (device-under-test).
 R4D connects to the serial device server and the power switch to perform
 actions on user requests. A user connects to r4d through a SOAP interface.
 .
 This package contains C-Binding library files.
